footer{
    clear: left;
    border-top: 1px solid #369; 
    
    
}

footer p{
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 50px;
}

.fott {
    display: inline;
    box-sizing:border-box;
    color:rgb(123, 123, 123);
    font-family:Graphik, sans-serif;
    font-size:11px;
    font-weight:500;
    height:25.6px;
    line-height:13px;
    margin-left:30px;

}